<div class="page form-section align-items-center d-flex">
    <div class="login-page-inner">
        <div class="row justify-content-md-center">
            <mat-card class="col-12 form-card">
                <mat-card-content>
                    <form [formGroup]="rnbLoginForm" (ngSubmit)="rnbLoginForm.valid && rnbLogin()" autocomplete="off">
                        <div class="form-container">
                            <mat-form-field>
                                <mat-icon matPrefix class="login-icon"></mat-icon>
                                <!-- <span matPrefix>{{preFixval}}</span> -->
                                <!-- <input matInput maxlength="20" minlength="7" placeholder="Enter Customer ID" formControlName="custId" type="text" required> -->

                                <input matInput (input)="inputValidator($event)" placeholder="Enter Customer ID"
                                    pattern="\d*" maxlength="20" minlength="7" formControlName="custId" type="text" required>
                                <mat-error class="left-space">{{ getCustIdErrorMessage() }}</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngIf="isShowPasswordField">
                                <mat-icon matPrefix class="password-icon"></mat-icon>
                                <input matInput maxlength="14" minlength="10" class="password" placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                                <mat-icon style="cursor: pointer;" matSuffix class="password--show-icon" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error class="left-space">{{ getPasswordErrorMessage() }}</mat-error>
                            </mat-form-field>
                            <div class="button-row text-right form-btn" *ngIf="isLoginButton">
                                <button mat-raised-button color="warn" [disabled]="!rnbLoginForm.valid" class="text-uppercase">Login</button>
                            </div>
                            <div class="button-row text-right form-btn" *ngIf="isNextButton">
                                <button mat-raised-button color="warn" (click)="showPassField()" [disabled]="rnbLoginForm.get('custId').invalid" class="text-uppercase">Next</button>
                            </div>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
