<div class="main">
    <br>
    <div class="container">
    <mat-toolbar class="text-center tool-auth">Authorization</mat-toolbar><br>
    <div class="row">
        <div class="col-sm-4 colscard">
            <mat-card class="cards">
                <mat-icon class="example-tab-icon">credit_card</mat-icon>
                <h6 class="text-center">Credit Card</h6>
            </mat-card>
        </div>
        <div class="col-sm-4 colscard">
            <mat-card class="cards">
                <mat-icon class="example-tab-icon">credit_card</mat-icon>
                <h6 class="text-center">Debit Card</h6>
            </mat-card>

        </div>
        <div class="col-sm-4 colscard">
            <mat-card class="cards">
                <mat-icon class="example-tab-icon">computer</mat-icon>
                <h6 class="text-center">Retail Net Banking</h6>
            </mat-card>
        </div>
        <div class="col-sm-4 colscard">
            <mat-card class="cards">
                <mat-icon class="example-tab-icon">textsms</mat-icon>
                <h6 class="text-center">Mobile OTP</h6>
            </mat-card>

        </div>
    </div>
</div>
</div>