@media screen and (max-width: 768px) {
    .cards{
        height: 110px;
        width: 175px;
    }
    .colscard{
        display: flex;
        justify-content: center;
    }
}
.cards{
    margin: 10px;
    cursor: pointer;
    text-align: center;
    padding: 25px;
    border: #5e8bb6 1px solid;
    border-radius: 0px;
}
.tool-auth{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 28px;
}
.main{
    height: calc(100vh - 64px);
        background: linear-gradient(to top, #0d5a96, #4e7fae, #80a5c7, #b3ccdf, #eaf3f9);
        overflow-x: hidden;
}
.submit-btn {
    text-align: center;
    margin: 15px;
}
.cards-bg{
    background-color: lightgray;
    border: none;
}