<!-- <div class="main-page-container">
    <div class="row  text-center justify-content-center step-row">
        <mat-card class="dashboad-container  col-xl-5 col-lg-5 col-md-6 col-12 mb-3">
            <div class="row justify-content-center">
                <div class="col form-field">
                    <label id="radio-group-label">
                        Are you an existing YES BANK Customer ?
                    </label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col form-field mb-0">
                    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" (change)="onNotify($event)">
                        <mat-radio-button class="radio-button" color="primary" value="1">
                        Yes
                        </mat-radio-button>
                        <mat-radio-button class="radio-button" color="primary" value="0">
                        No
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </mat-card>
    </div>
</div> -->
