<div class="d-flex">
    <h5 class="error text-center">
        <!-- <p>Invalid link. Either the link has already been used or session expired</p> -->
        <h3> You cannot access this page. Possible reasons :</h3>
        <div class="d-flex-c">
            <ul class="text-left">
                <li>Session expired.</li>
                <li>Invalid link.</li>
                <li>Link already used.</li>
                <li>Invalid login details.</li>
            </ul>
        </div>
    </h5>
</div>