<mat-card class="card" *ngIf="showStatus">

  <div class="">
    <h5 class="account-title">Service Request Details</h5>
    <div class="row example-container" *ngFor="let data of responses">
      <div class="col-sm-3 cols">
        <mat-form-field>
          <input matInput placeholder="Customer ID" [(ngModel)]="data.cust_id" disabled>
        </mat-form-field>
      </div>
      <div class="col-sm-3 cols">
        <mat-form-field>
          <input matInput placeholder="Request Type" [(ngModel)]="data.srType" disabled>
        </mat-form-field>
      </div>
      <!-- Pan Data -->
      <div class="col-sm-3 cols" *ngIf="sr_type == 1005">
        <mat-form-field>
          <input matInput placeholder="Old PAN Number" [(ngModel)]="data.old_pan_number" disabled>
        </mat-form-field>
      </div>
      <div class="col-sm-3 cols" *ngIf="sr_type == 1005">
        <mat-form-field>
          <input matInput placeholder="New PAN Number" [(ngModel)]="data.new_pan_number" disabled>
        </mat-form-field>
      </div>
      <!--  -->
      <!-- Dob data -->
      <div class="col-sm-3 cols" *ngIf="sr_type == 1008">
        <mat-form-field>
          <input matInput placeholder="New DOB" [(ngModel)]="new_dob" disabled>
        </mat-form-field>
      </div>
      <div class="col-sm-3 cols" *ngIf="sr_type == 1008">
        <mat-form-field>
          <input matInput placeholder="Old DOB" [(ngModel)]="old_Dob" disabled>
        </mat-form-field>
      </div>
      <!-- Email data -->
      
      <div class="col-sm-3 cols" *ngIf="sr_type == 1006">
        <mat-form-field>
          <input matInput placeholder="New Email" [(ngModel)]="new_email" disabled>
        </mat-form-field>
      </div>
      <div class="col-sm-3 cols" *ngIf="sr_type == 1006">
        <mat-form-field>
          <input matInput placeholder="Old Email" [(ngModel)]="old_email" disabled>
        </mat-form-field>
      </div>
      <!--Mobile Update  -->
      <div class="col-sm-3 cols" *ngIf="sr_type == 1007">
        <mat-form-field>
          <input matInput placeholder="New Mobile Number" [(ngModel)]="new_mobile_number" disabled>
        </mat-form-field>
      </div>
      <div class="col-sm-3 cols" *ngIf="sr_type == 1007">
        <mat-form-field>
          <input matInput placeholder="Old Mobile Number" [(ngModel)]="old_mobile_number" disabled>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="upload text-center" *ngIf="sr_type == 1005">
    <h6 class="text-left pls">Please upload a picture of New PAN</h6>
    <label for="file-upload" class="custom-file-upload">
      <img src="assets/images/imgs.png" class="imgs"> Upload Image
    </label>
    <input #file type="file" accept="image/x-png,image/jpeg" id="file-upload" (change)="deafaultImage(file.files)" />
    <img class="images" [src]="imgURL" height="400" width="400" *ngIf="imgURL">
    <!-- <div class="bg-img2"  [ngStyle]="{'background-image':  'url(' + imgURL + ')'}" *ngIf="imgURL"></div> -->
    <!-- <p class="" style="color: gray;">{{panImgName}}</p> -->
  </div>
  <!--  -->

  <div class="upload" *ngIf="sr_type == 1008">
    <h6 class="other-doc">Upload DOB Proofs</h6>
    <mat-form-field class="mat-options">
      <mat-select [(ngModel)]="dob_doc_type">
        <mat-option *ngFor="let type of dob_Primary_Doc" (ngModelChange)="Onselect_Dob_ImgPrimary(type)"
          (click)="Onselect_Dob_ImgPrimary(type)" [value]="type.docType" [disabled]="!type.isPrimary">
          {{type.docName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- images -->
    <div class="imgdiv text-center" *ngIf="show_DoB_Img">
      <!-- front Image -->
      <label for="upload-5" class="custom-file-upload"><img src="assets/images/imgs.png" class="imgs"> Front
        Image</label>
      <input #file type="file" accept="image/x-png,image/jpeg" id="upload-5" (change)="deafaultImage(file.files)" />
      <img class="images" [src]="imgURL" height="400" width="400" *ngIf="imgURL">


      <!-- Back Image -->
      <div class="" *ngIf="dob_pg_count==2">
        <label for="upload-4" class="custom-file-upload"><img src="assets/images/imgs.png" class="imgs"> Back
          Image</label>
        <input type="file" name="pic" id="upload-4" accept="image/x-png,image/jpeg" (change)="backImage_Dob($event.target.files)">
        <img class="images" [src]="imgURL4" height="400" width="400" *ngIf="imgURL4">
      </div>
    </div>
  </div>

  <div class="upload text-center">
    <h6 class="other-doc">Upload Identity Documents</h6>
    <mat-form-field class="mat-options">
      <mat-select [(ngModel)]="otherDocType">
        <mat-option *ngFor="let type of docType" (ngModelChange)="Onselect(type)" (click)="Onselect(type)"
          [value]="type.docType" [disabled]="type.isPrimary">
          {{type.docName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- images -->
    <div class="imgdiv" *ngIf="showImg">
      <!-- front Image -->
      <label for="upload-1" class="custom-file-upload"><img src="assets/images/imgs.png" class="imgs"> Front
        Image</label>
      <input type="file" name="pic" id="upload-1" accept="image/x-png,image/jpeg" (change)="frontImage($event.target.files)">
      <img class="images" [src]="imgURL2" height="400" width="400" *ngIf="imgURL2">


      <!-- Back Image -->
      <div class="" *ngIf="pageCount==2">
        <label for="upload-2" class="custom-file-upload"><img src="assets/images/imgs.png" class="imgs"> Back
          Image</label>
        <input type="file" name="pic" id="upload-2" accept="image/x-png,image/jpeg" (change)="backImage($event.target.files)">
        <img class="images" [src]="imgURL3" height="400" width="400" *ngIf="imgURL3">
      </div>
    </div>
  </div>
  <!-- reason reject dropdown -->
  <div class="drpreason text-center">
    <mat-form-field *ngIf="approved===false" class="reass">
      <mat-label>Select Reason</mat-label>
      <mat-select>
        <mat-option *ngFor="let data of Rejectedoptions" [value]="data.reason" (click)="reasonSelect(data.id)">
          {{data.reason}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Btn submit cancel -->
  <div class="text-center" *ngIf="approved===false">
    <button mat-raised-button color="primary" class="cancelSubmit" (click)="submit()"
      [disabled]="!reasonId">Submit</button>
    <button mat-raised-button color="primary" class="cancelSubmit" (click)="cancel()">Cancel</button>
  </div>
  <h5 class="rejectedreason" *ngIf="rejectReasonTxt"><span class="rejectTXt" style="font-weight: bolder">Reject
      reason</span>: {{rejectReasonTxt}}</h5>
  <div class="grp-btn col text-center" *ngIf="approved==true">
    <button mat-raised-button color="primary" class="btns accept" (click)="defaultImgCall()"
      [disabled]="enableBtn==false">Accept</button>
    <button mat-raised-button color="warn" class="btns" (click)="reject()">Reject</button>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
</mat-card>

<!-- Error Message -->
<div class="d-flex" *ngIf="!showStatus">
  <h5 class="error text-center">{{errorTxtmsg}}</h5>
</div>