<div class="page form-section align-items-center d-flex">
    <div class="login-page-inner">
        <div class="row justify-content-md-center">
            <mat-card class="col-12 form-card">
                <mat-card-content>
                    <form [formGroup]="dcLoginForm" (ngSubmit)="dcLoginForm.valid && dcLogin()" autocomplete="off">
                        <div class="form-container">
                            <mat-form-field>
                                <mat-icon matPrefix>credit_card</mat-icon>
                                <input matInput (input)="inputValidator($event)" placeholder="Enter Debit Card No."
                                    pattern="\d*" maxlength="16" minlength="16" formControlName="cardNumber" type="text" required>
                                <mat-error class="left-space">{{getDCLoginErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-icon matPrefix>vpn_key</mat-icon>
                                <input matInput (input)="inputValidator($event)" maxlength="4" minlength="4" class="password" placeholder="Transaction PIN" formControlName="transPIN" [type]="hide ? 'password' : 'text'" required>
                                <mat-icon style="cursor: pointer;" matSuffix class="password--show-icon" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error class="left-space">{{getDCLoginPINErrorMessage()}}</mat-error>
                            </mat-form-field>
                            <div class="button-row text-right form-btn">
                                <button mat-raised-button color="warn" [disabled]="!dcLoginForm.valid" class="text-uppercase">Login</button>
                            </div>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
    

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>